fastapi==0.115.0
uvicorn[standard]==0.30.6
httpx==0.27.2
pydantic==2.8.2
pydantic-core==2.20.1
python-multipart==0.0.9



# Postgres (Neon) support
sqlalchemy[asyncio]==2.0.35
asyncpg==0.29.0
openpyxl==3.1.5

# Google Drive support (service account)
google-auth==2.35.0
requests==2.32.3